#!/usr/bin/python2.6
# -*- coding:utf-8 -*-
__author__ = '袁通'

import os
from pymongo import MongoClient

path_zabbix_sa_OpStatus = '/tmp/zabbix-sa-OpStatus'

if os.path.exists(path_zabbix_sa_OpStatus):
    os.remove(path_zabbix_sa_OpStatus)

hostname = os.uname()[1]
host_type = filter(str.isalpha, hostname)
id = int(filter(str.isdigit, hostname))

if host_type == 'asa':
    collection_name = 'SuffixArrayServersOpStatus'
elif host_type == 'atcsa':
    collection_name = 'ArticleSuffixArrayServersOpStatus'
elif host_type == 'rsa':
    collection_name = 'LawSuffixArrayServersOpStatusNew'

if collection_name is not None:
    client = MongoClient('mongoshroute', 50000)
    client.case.authenticate('{{mongodb_case_user}}', '{{mongodb_case_password}}')
    db = client['case']
    collection = db[collection_name]

    status = str(collection.find_one({'_id': id}, {'_id':0, 'status': 1})['status'])

    with open(path_zabbix_sa_OpStatus, 'w') as file_zabbix_sa_OpStatus:
        file_zabbix_sa_OpStatus.write(status)

    client.close()
