- name: disable iptables
  service:
    name: iptables
    enabled: no
    state: stopped
  when: ansible_distribution_major_version == "6"

- name: disable firewalld
  systemd:
    name: firewalld
    enabled: no
    state: stopped
  when: ansible_distribution_major_version == "7"

- name: disable NetworkManager
  systemd:
    name: NetworkManager
    enabled: no
    state: stopped
  when: ansible_distribution_major_version == "7"

- name: copy /etc/resolv.conf
  copy:
    src: resolv.conf
    dest: /etc/resolv.conf

- name: install ntpdate
  yum:
    name: ntpdate
    state: latest

- name: sync time
  shell: /usr/sbin/ntpdate cn.pool.ntp.org && hwclock --systohc

- name: add crontab(sync time)
  cron:
    backup: yes
    minute: 0
    hour: 3
    name: sync time
    job: /usr/sbin/ntpdate cn.pool.ntp.org && hwclock --systohc
