### MySQL DB Infomation
UserParameter=mysql.status[*],echo "show global status where Variable_name='$1';"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf -N|awk '{print $$2}'
UserParameter=mysql.variables[*],echo "show global variables where Variable_name='$1';"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf -N|awk '{print $$2}'
UserParameter=mysql.ping,{{path_mysqladmin.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf ping|grep -c  alive
UserParameter=mysql.version,echo "select version();"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf -N

#### MySQL Master Information
UserParameter=mysql.master.Slave_count,echo "show slave hosts;"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf -N|wc -l
UserParameter=mysql.master.Binlog_file,echo "show master status;"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf -N|awk '{print $1}'|awk -F. '{print $1}'
UserParameter=mysql.master.Binlog_number,echo "show master status;"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf -N|awk '{print $1}'|awk -F. '{print $2}'
UserParameter=mysql.master.Binlog_position,echo "show master status;"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf -N|awk '{print $2}'
UserParameter=mysql.master.Binlog_count,echo "show binary logs;"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf -N|wc -l
UserParameter=mysql.master.Binlog_total_size,echo "show binary logs;"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf -N|awk '{sum+=$NF}END{print  sum}'

#### MySQL Slave Information
UserParameter=mysql.slave.Seconds_Behind_Master,echo "show slave status\G"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf|grep "Seconds_Behind_Master"|awk '{print $2}'
UserParameter=mysql.slave.Slave_IO_Running,echo "show slave status\G"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf|grep "Slave_IO_Running"|awk '{print $2}'
UserParameter=mysql.slave.Slave_SQL_Running,echo "show slave status\G"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf|grep "Slave_SQL_Running"|awk '{print $2}'
UserParameter=mysql.slave.Relay_Log_Pos,echo "show slave status\G"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf|grep "Relay_Log_Pos"|awk '{print $2}'
UserParameter=mysql.slave.Exec_Master_Log_Pos,echo "show slave status\G"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf|grep "Exec_Master_Log_Pos"|awk '{print $2}'
UserParameter=mysql.slave.Read_Master_Log_Pos,echo "show slave status\G"|{{path_mysql.stdout}} --defaults-file=/etc/zabbix_agentd.conf.d/.my.cnf|grep "Read_Master_Log_Pos"|awk '{print $2}'

#### MySQL InnoDB Information
#UserParameter=mysql.innodb[*],/etc/zabbix_agentd.conf.d/mysql_innodb_status.sh $1

####MySQL MyISAM Information
