[mysqld]
datadir=/data/mysql/data
tmpdir=/data/mysql/tmp
socket=/var/lib/mysql/mysql.sock
user=mysql

character_set_server=utf8

default-storage-engine=INNODB
innodb_buffer_pool_size=1G

slow_query_log=1
slow_query_log_file=/data/mysql/log/mysql.slow
long_query_time=2

server_id=1
binlog_format=row
log-bin=/data/mysql/log-bin/log-bin

[mysqld_safe]
log-error=/data/mysql/log/mysql.error

[client]
socket=/var/lib/mysql/mysql.sock
