[mysqld_safe]
log-error=/data/mysql/log/mysql.err

[mysqld]
datadir=/data/mysql/data
tmpdir=/data/mysql/tmp
socket=/var/lib/mysql/mysql.sock
user=mysql

character_set_server=utf8

default-storage-engine=INNODB
innodb_buffer_pool_size=128M

slow_query_log=1
slow_query_log_file=/data/mysql/log/mysql.slow
long_query_time=2

server_id=1
log-bin=/data/mysql/log-bin/log-bin
binlog_format=row

max_connections=1000

[client]
socket=/var/lib/mysql/mysql.sock
